@font-face {
  $secondaryFont: 'Cinzel', serif;
  $elegantFont3: 'Great Vibes', cursive;
  $paragraphFont: 'Lato', sans-serif;
  $primaryFont: 'Montserrat', sans-serif;
  $thirdFont: 'Oswald', sans-serif;
  $elegantFont2: 'Parisienne', cursive;
  $roboto: 'Roboto', sans-serif;
  $elegantFont: 'Sacramento', cursive;
}